@page
@model IndexModel
@{
    ViewData["Title"] = "Mike McMillan";
}

<div class="row">
    <div class="col text-center">
        <img class="rounded-circle img-fluid profile-img"
             src="@Model.ProfileImageSource"
             alt="Mike McMillan" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1 class="display-4">Mike McMillan</h1>
        <p>Senior Software Engineer (@Model.DevTimeYears Years, @Model.DevTimeMonths Months)</p>
        <p>Based in Manchester, UK</p>
        <p>A dedicated engineer with over 10 years’ hands-on experience developing reliable, high-performing, n-tier applications.  Has had a career primarily focused on backend development, but is keen to branch out and become full-stack.</p>
    </div>
</div>

<div class="row">
    <div class="col text-center button-bar">
        <a href="mailto:portfolio@mikemcmillan.dev" class="text-secondary">
            <i class="far fa-envelope fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/michaelpmcmillan/" class="text-secondary">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>
</div>
